<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon color="primary" class="icon-font" name="notifications-outline" (click)="notifications()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center title" color="primary">Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="background-picture">

        <div class="login-details">

            <div class="custom-div">
                <video width="320" height="240" controls poster="../../../assets/images/Icon ionic-ios-play-circle.png">
          <source src="https://www.w3schools.com/html/movie.mp4" type="video/mp4">
          <source src="https://www.w3schools.com/html/movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
            </div>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
            <div class="d-flex ion-justify-content-between ion-align-items-center pr-4 pl-4">
                <small>Today 9:24 am</small>
                <div class="d-flex ion-align-items-center">
                    <ion-icon name="eye-outline"></ion-icon> <small class="pl-2">20 views</small>
                </div>
            </div>

            <h6 class="custom-class">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, in voluptatum neque quis explicabo saepe eligendi numquam ut unde architecto,</h6>

            <ion-item class="mb-2" lines="none">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-40-px ml-2">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-40-px ml-2">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-40-px ml-2">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-40-px ml-2">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-40-px ml-2">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <div class="custom-icon">
                <ion-input clearInput type="username" name="password" class="password" placeholder="Write Comment"></ion-input>
                <img src="../../../../assets/images/Icon material-send.png" alt="">
                <!-- <ion-icon src="../../../../assets/images/Icon material-send.png" slot="end" align-self-center></ion-icon> -->
                <!-- <ion-icon name="person" src="../../../../assets/images/Icon material-send.png" slot="end" align-self-center></ion-icon> -->
            </div>

        </div>
    </div>

    <ion-tabs>
        <ion-tab-bar slot="bottom" selectedTab="home" color="primary">
            <ion-tab-button tab="home">
                <ion-icon name="home-outline"></ion-icon>
                <!-- <ion-label>Schedule</ion-label>
              <ion-badge>6</ion-badge> -->
            </ion-tab-button>

            <ion-tab-button tab="post">
                <ion-icon name="person-circle"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="video">
                <ion-icon name="map"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="chat">
                <ion-icon name="information-circle"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="profile">
                <ion-icon name="information-circle"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>
