<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon color="primary" class="icon-font" name="notifications-outline" (click)="notifications()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center title" color="primary">Chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="background-picture">
        <div class="login-details pr-1 pl-1 custom-textarea">
            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 26.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">Finn</h2>
                        <ion-badge color="danger" class="rounded-circle">66</ion-badge>
                    </div>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 27.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">Finn</h2>
                        <ion-badge color="danger" class="rounded-circle">66</ion-badge>
                    </div>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 28.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Rey</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>

            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 29.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <h2 class="ml-3 font-weight-bold">Luke</h2>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>
            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 30.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">Finn</h2>
                        <ion-badge color="danger" class="rounded-circle">66</ion-badge>
                    </div>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>
            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 30.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">Finn</h2>
                        <ion-badge color="danger" class="rounded-circle">66</ion-badge>
                    </div>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>
            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 30.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">Finn</h2>
                        <ion-badge color="danger" class="rounded-circle">66</ion-badge>
                    </div>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>
            <ion-item class="mb-2" lines="none" (click)="messages()">
                <!-- <ion-avatar slot="start"> -->
                <img src="../../../assets/images/Rectangle 30.png" class="w-25">
                <!-- </ion-avatar> -->
                <ion-label>
                    <div class="d-flex ion-justify-content-between ion-align-items-center">
                        <h2 class="ml-3 font-weight-bold">Finn</h2>
                        <ion-badge color="danger" class="rounded-circle">66</ion-badge>
                    </div>
                    <p class="ml-3">5 mins ago</p>
                </ion-label>
            </ion-item>
        </div>
    </div>



    <ion-tabs>
        <ion-tab-bar slot="bottom" selectedTab="chat" color="primary">

            <!-- <a routerLink="/tabs/home"> -->
            <ion-tab-button routerLink="/tabs">
                <ion-icon name="home-outline"></ion-icon>
                <!-- <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge> -->
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/post"> -->
            <ion-tab-button routerLink="/tabs/post">
                <ion-icon name="person-circle"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/video"> -->
            <ion-tab-button routerLink="/tabs/video">
                <ion-icon name="map"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/chat"> -->
            <ion-tab-button tab="chat">
                <ion-icon name="information-circle"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

            <!-- <a routerLink="/tabs/profile"> -->
            <ion-tab-button routerLink="/tabs/profile">
                <ion-icon name="information-circle"></ion-icon>
            </ion-tab-button>
            <!-- </a> -->

        </ion-tab-bar>
    </ion-tabs>

</ion-content>