<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs" color="primary"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
            <ion-icon color="primary" class="icon-font" name="notifications-outline" (click)="notifications()"></ion-icon>
        </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center title" color="primary"
      >Verify ID</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-picture">
    <div class="login-details pr-1 pl-1 custom-textarea">
      <p *ngIf="user.active_status" class="font-weight-bold text-center mt-2">
        Your ID Is Verified
      </p>
      <p
        *ngIf="!user.active_status && user.front.created_at == '' "
        class="font-weight-bold text-center mt-2"
      >
        Your Id Verification Is Under Process
      </p>
      <ion-card>
        <!-- <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header> -->

        <!-- <ion-card-content>
          <img
            *ngIf="user_dp.path"
            (click)="takePicture()"
            [src]="user_dp.path"
            alt=""
          />
          <img
            *ngIf="!user_dp.path"
            (click)="takePicture()"
            src="../../assets/images/Group 8262-1.png"
            alt=""
          />
        </ion-card-content> -->

        <ion-card-content>
          <div
            class="d-flex ion-justify-content-between ion-align-items-center"
          >
            <img
              class="w-50 mr-2"
              *ngIf="!user.front.path"
              src="../../../assets/images/Icon awesome-image.png"
              alt=""
              (click)="takePicture(true)"
            />
            <img
              class="w-50"
              *ngIf="!user.front.path"
              src="../../../assets/images/Icon awesome-image.png"
              alt=""
              (click)="takePicture(false)"
            />
            <img
              class="w-50 mr-2"
              *ngIf="user.front.path"
              [src]="user.front.path"
              alt=""
              (click)="takePicture(true)"
            />
            <img
              class="w-50"
              *ngIf="user.front.path"
              [src]="user.back.path"
              alt=""
              (click)="takePicture(false)"
            />
          </div>
          <div
            class="d-flex ion-justify-content-between ion-align-items-center"
          >
            <p class="mb-0 ml-2 primary" (click)="takePicture(true)">
              Front Image
            </p>
            <p class="mb-0 mr-4 primary" (click)="takePicture(false)">
              Back Image
            </p>
          </div>
        </ion-card-content>
      </ion-card>

      <p class="text-center">Upload ID to get verified</p>

      <ion-button
        (click)="SavePost()"
        expand="full"
        class="btn1"
        color="primary"
        >Upload</ion-button
      >
    </div>
  </div>
</ion-content>
