<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="background-picture">
        <!-- <ion-img src="../../../assets/images/splash-background.png"></ion-img> -->
        <!-- <img src="../../../assets/images/splash-background.png" alt=""> -->

        <div class="login-details">

            <div class="login-container">
                <div class="font-icon">
                    <!-- <i class="fas fa-minus icon"></i> -->
                    <ion-icon name="remove-outline" class="icon"></ion-icon>
                </div>

                <h1 class="ion-text-center login-font">Sign up</h1>
                <label for="username" class="ml-8">Username</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput type="username" name="username" class="username" placeholder="Enter Your Username">
                    </ion-input>
                </div>

                <label for="username" class="ml-8">Email Address</label>
                <div class="input">
                    <!-- <input type="username" name="username" class="username" placeholder="Enter Username"> -->
                    <ion-input clearInput type="username" name="username" class="username" placeholder="Enter Your Email Address">
                    </ion-input>
                </div>

                <label for="password" class="ml-8">Password</label>
                <div class="input">
                    <!-- <input type="password" name="password" class="password" placeholder="Enter Password"> -->
                    <ion-input clearInput type="password" name="password" class="password" placeholder="Enter Your Password">
                    </ion-input>
                </div>

                <label for="password" class="ml-8">Confirm Password</label>
                <div class="input">
                    <!-- <input type="password" name="password" class="password" placeholder="Enter Password"> -->
                    <ion-input clearInput type="password" name="password" class="password" placeholder="Confirm Your Password">
                    </ion-input>
                </div>

                <ion-button expand="full" class="btn1" color="primary">Sign up</ion-button>
                <div class="account-signup">
                    <p>Or Sign up With?</p>
                </div>
                <div class="account-signup">
                    <ion-img class="w-25" src="../../../assets/images/fb.png"></ion-img>
                    <ion-img class="w-25" src="../../../assets/images/gm.png"></ion-img>
                </div>

                <div class="account-signup">
                    <p>Already have an account?</p>
                    <h5 class="mt-0 mr-0 mb-0 ml-5" (click)="backtologin()"><span>Sign In</span></h5>
                </div>


            </div>

        </div>

    </div>

    <div class="background-picture-1"></div>

    <!-- asdasas
  <button type="primary" (click)="pisca()">dasdasassa</button> -->
</ion-content>
