<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="users-detail"
        color="primary"
      ></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
          <ion-icon color="primary" class="icon-font" name="notifications-outline" (click)="notifications()"></ion-icon>
      </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center title" color="primary">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-picture">
    <div class="login-details pr-4 pl-4 custom-textarea z-index-10">
      <div>
        <div class="d-flex ion-justify-content-center ion-align-items-center">
          <img
            *ngIf="videoData.user_dp && videoData.user_dp.path"
            [src]="videoData.user_dp.path"
            class="w-50 mb-3"
            alt=""
            style="border-radius: 50%; width: 180px !important; height: 180px"
          />
          <img
            *ngIf="!videoData.user_dp.path"
            src="../../assets/images/Oval.png"
            class="w-50 mb-3"
            alt=""
            style="border-radius: 50%; width: 180px !important; height: 180px"
          />
          <img
            *ngIf="showverified"
            [src]="verify ? '../../assets/images/chk-icon.png' : '../../assets/images/verify.png'"
            style="
              width: 25px;
              margin-top: 100px;
              position: absolute;
              margin-left: 135px;
            "
            alt=""
          />
        </div>

        <div
          class="d-flex ion-justify-content-between ion-align-items-center mb-3"
        >
          <ion-button
            *ngIf="isdisconnectdata"
            (click)="disconnect()"
            color="primary"
            size="small"
            >Disconnect</ion-button
          >
          <ion-button
            *ngIf="isconnectdata"
            (click)="connect()"
            class="img-click"
            color="success"
            size="small"
            >Connect</ion-button
          >
          <ion-icon
            (click)="GotoChat(videoData)"
            name="chatbox-ellipses-outline"
            class="img-click"
            style="color: #f43903; font-size: 24px"
          ></ion-icon>
          <!-- <ion-button
            *ngIf="isreportdata"
            color="primary"
            (click)="report()"
            class="img-click"
            size="small"
            >Report</ion-button
          >
          <ion-button
            *ngIf="isunreportdata"
            color="success"
            (click)="unreport()"
            class="img-click"
            size="small"
            >Unreport</ion-button
          > -->
        </div>

        <!-- <ion-segment
          (ionChange)="segmentChanged($event)"
          [(ngModel)]="segment"
          color="primary"
          scrollable
          mode="ios"
          class="mb-2"
        >
          <ion-segment-button value="Posts" layout="icon-top">
            <p class="mb-0">
              {{videoData.total_posts ? videoData.total_posts : 0}}
            </p>
            <ion-label>Posts</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Like" layout="icon-top">
            <p class="mb-0">
              {{videoData.total_likes ? videoData.total_likes : 0}}
            </p>
            <ion-label>Like</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Connect" layout="icon-top">
            <p class="mb-0">
              {{videoData.connect ? videoData.connect.length : 0}}
            </p>
            <ion-label>Connect</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Connected" layout="icon-top">
            <p class="mb-0">
              {{videoData.connect ? videoData.connected.length : 0}}
            </p>
            <ion-label>Connected</ion-label>
          </ion-segment-button>
        </ion-segment> -->

        <div class="d-flex justify-content-between">
          <div class="segmentBtn img-click" (click)="segmentChanged('Posts')">
            <p class="mb-0">
              {{videoData.total_posts ? videoData.total_posts : 0}}
            </p>
            <span>Posts</span>
          </div>
          <!-- <div class="segmentBtn img-click" (click)="segmentChanged('Like')">
            <p class="mb-0">
              {{videoData.total_likes ? videoData.total_likes : 0}}
            </p>
            <span>Like</span>
          </div> -->
          <div class="segmentBtn img-click" (click)="segmentChanged('Connect')">
            <p class="mb-0">
              {{videoData.connect ? videoData.connect.length : 0}}
            </p>
            <span>Connections</span>
          </div>
          <div
            class="segmentBtn img-click"
            (click)="segmentChanged('Connected')"
          >
            <p class="mb-0">
              {{videoData.connect ? videoData.connected.length : 0}}
            </p>
            <span>Connected</span>
          </div>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col size="5"><p class="heading-color">Username</p></ion-col>
            <ion-col size="7"
              ><p class="heading-color-1 ml-4">
                {{videoData.username}}
              </p></ion-col
            >
            <ion-col size="5"><p class="heading-color">First Name</p></ion-col>
            <ion-col size="7">
              <p class="heading-color-1 ml-4">{{videoData.fname}}</p></ion-col
            >
            <ion-col size="5"><p class="heading-color">Last Name</p></ion-col>
            <ion-col size="7"
              ><p class="heading-color-1 ml-4">{{videoData.lname}}</p></ion-col
            >
            <!-- <ion-col size="5"><p class="heading-color">Age</p></ion-col>
            <ion-col size="7">
              <p class="heading-color-1 ml-4">{{videoData.dob}}</p></ion-col
            > -->
            <ion-col size="5"><p class="heading-color">Bio</p></ion-col>
            <ion-col size="7"
              ><p class="heading-color-1 ml-4">{{videoData.bio}}</p></ion-col
            >
            <!-- <ion-col size="5"><p class="heading-color">Address</p></ion-col>
            <ion-col size="7"
              ><p class="heading-color-1 ml-4">
                {{videoData.location}}
              </p></ion-col
            > -->
          </ion-row>
        </ion-grid>

        <!-- <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">Username</p>
          <p class="heading-color-1">{{videoData.username}}</p>
        </div>
        <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">First Name</p>
          <p class="heading-color-1">{{videoData.fname}}</p>
        </div>
        <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">Last Name</p>
          <p class="heading-color-1">{{videoData.lname}}</p>
        </div> -->
        <!-- <div class="d-flex ion-justify-content-between ion-align-items-center">
            <p class="heading-color">Mobile #</p>
            <p class="heading-color-1">{{videoData.mobile}}</p>
          </div> -->
        <!-- <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">Email</p>
          <p class="heading-color-1">{{videoData.email}}</p>
        </div> -->
        <!-- <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">Age</p>
          <p class="heading-color-1">{{videoData.dob}}</p>
        </div>
        <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">Bio</p>
          <p class="heading-color-1">{{videoData.bio}}</p>
        </div>
        <div class="d-flex ion-justify-content-between ion-align-items-center">
          <p class="heading-color">Address</p>
          <p class="heading-color-1">{{videoData.location}}</p>
        </div> -->
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-content>

    <div class="background-picture">

        <div class="login-details pr-4 pl-4 custom-textarea">
            <div>

                <div class="d-flex ion-justify-content-center ion-align-items-center">
                    <img *ngIf="videoData.user_dp.path" [src]="videoData.user_dp.path" class="w-50 mb-3" alt="">
                    <img *ngIf="!videoData.user_dp.path" src="../../assets/images/Oval.png" class="w-50 mb-3" alt="">
                </div>

                <div class="d-flex ion-justify-content-between ion-align-items-center mb-3">
                    <ion-button color="secondary" size="small">Connected</ion-button>
                    <ion-button color="primary" size="small">Report</ion-button>
                </div>

                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Username</p>
                    <p class="heading-color-1">{{videoData.username}}
                    </p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">First Name</p>
                    <p class="heading-color-1">{{videoData.fname}}</p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Last Name</p>
                    <p class="heading-color-1">{{videoData.fname}}</p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Mobile #</p>
                    <p class="heading-color-1">{{videoData.mobile}}
                    </p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Email</p>
                    <p class="heading-color-1">{{videoData.email}}
                    </p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Age</p>
                    <p class="heading-color-1">{{videoData.dob}}</p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Bio
                    </p>
                    <p class="heading-color-1">{{videoData.bio}}</p>
                </div>
                <div class="d-flex ion-justify-content-between ion-align-items-center ">
                    <p class="heading-color">Location</p>
                    <p class="heading-color-1">{{videoData.location}}</p>
                </div>

            </div>
        </div>

    </div>

</ion-content> -->
